html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
/* styles for body tag */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* styles present in body */
body {
  background: #ffffff url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

/* styles for container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* styles for h1 tag */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */
/* styles for deck */
.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

/* styles for cards present in the deck */
.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

/* styles for open the card present in the deck */
.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

/* Styles to show the content in the card */
.deck .card.show {
  font-size: 33px;
}

/* Styles for to match the opened card */
.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

/* Styles for to unmatch the opened card */
.deck .card.unmatch {
  cursor: default;
  background: #7904c4;
  font-size: 33px;
}

/* Styles for disable the opened card */
.disable {
  pointer-events: none;
}

/*
 * Styles for the Score Panel
 */
.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

/* Styles for stars in the score panel */
.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

/* Styles for to restart the game */
.score-panel .restart {
  float: right;
  cursor: pointer;
}

/* for mobile view */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .deck {
    width: 90%;
    min-height: 0;
    height: auto;
    padding: 1em;
    margin: 1% auto;
  }

  .deck .card {
    height: 90px;
    width: 23%;
    margin: 0 0 1% 0;
  }
}

/* For tablet view */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .deck {
    width: 90%;
    min-height: 0;
    height: auto;
    padding: 1em;
  }

  .deck .card {
    height: 140px;
    width: 23%;
    margin: 0 0 1% 0;
  }
}
